<h1>Questa è la nostra HomePage</h1>

<%# Prova %>
<p><a href="http://lacerba.io">Click here</a> to find ot more</p>
<p> <%= link_to "click here", about_path %> to find out more </p>

<%# Menu %>
<p> <%= link_to "LacerMrkt", home_path %></p>

<p> <%= link_to "Sell now", home_path %></p>
<p> <%= link_to "Sign Up", home_path %></p>
<p> <%= link_to "LogIn", home_path %></p>

<%# Header %>
<h1>LacerMrkt</h1>
<h2>Buy, sell & exchange secondhand goodies</h2>

<p> <%= link_to "SHOP NOW", home_path %></p>

<%# Plus: why you should choose us %>
<p> <%= link_to "Plus1", home_path %></p>

<p> <%= link_to "Plus2", home_path %></p>

<p> <%= link_to "Plus3", home_path %></p>

<%# Footer %>
<p> Copyright: <%= link_to "FranGia95", home_path %></p>

<p> <%= link_to "Pinterest", home_path %></p>
<p> <%= link_to "Facebook", home_path %></p>
<p> <%= link_to "Instagram", home_path %></p>

<p> <%= link_to "About", about_path %></p>