<%= link_to "LacerMrkt", root_path %>
<%= link_to "About", about_path %>

<%= link_to "Sell now", root_path %>
<%= link_to "Sign Up", root_path %>
<%= link_to "LogIn", root_path %>

<%# Header %>
<h1>LacerMrkt</h1>
<h2>Buy, sell & exchange secondhand goodies</h2>

	<%= link_to "SHOP NOW", root_path %>

<%# Plus: why you should choose us %>
<p>
	<%= link_to "Plus1", root_path %>
	<%= link_to "Plus2", root_path %>
	<%= link_to "Plus3", root_path %>
</p>
<%# Footer %>
<p>
	Copyright: <a href="mailto:frangia95@gmail.com" target="_blank">FranGia95</a>
	<%= link_to "Pinterest", "https://www.pinterest.com.au/swopexchange/", target: "_blank" %>
	<%= link_to "Facebook", "https://www.facebook.com/thinktwicesecondhand/?ref=br_rs", target: "_blank" %>
	<%= link_to "Instagram", "https://www.instagram.com/buffaloexchange/", target: "_blank" %>
	<%= link_to "About", about_path %>
</p>
